.form {
  width: 28vw;
  background-color: #12192c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 5vh;
  border-radius: 5px;
  margin: 1vw;
  font-family: "Poppins";
  padding-top: 1vh;
  box-shadow: 1px 1px 2px 2px rgba(1, 1, 1, 0.23);
  /* box-shadow: 2px 2px 2px 2px rgba(3, 2, 1, 0.1); */
  background-color: #12192c;
}

.form textarea {
  width: 20vw;
  height: 16vh;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2vh;
  font-family: "Poppins";
  text-indent: 1vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.form textarea:focus {
  outline: none;
}
.preview {
  min-height: 10vw;
  min-width: 20vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-size: 100% 100%;
  background-position: center;
}
.upload {
  width: 20vw;
  color: white;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-family: "Poppins";
}

.form button {
  font-weight: bolder;
  padding: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  font-family: "Poppins";
  font-size: 2vh;
  color: white;
  height: 6vh;
  width: 20vw;
  margin-top: 1vw;
  border-style: solid;
  border-width: 1px;
}

.form h1 {
  color: white;
}

.form span {
  color: white;
}
.form label {
  font-size: 10px;
  color: rgb(210, 210, 210);
  width: 21.5vw;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
}

@media screen and (max-width: 800px) {
  .form {
    width: 100%;
    box-shadow: none;
  }
  .form button {
    margin-top: 2vh;
    width: 90%;
  }
  .form textarea,
  .preview,
  .upload {
    width: 89%;
  }
}
